@page
@model Restaurante.Pages.CardapioModel
@{
}

<div class="container" style="display:flex; background-color: black; min-height:100%; ">
    <div style="background-color:black; min-height:5rem; max-width:100%; color:white; ">
        
        <img src="https://institucional.ifood.com.br/wp-content/uploads/2024/07/comidas-tipicas-tacaca.jpg" style="border-radius:15px;" />
    </div>
    <div class="text-center" style="background-color:white; min-height:100%; min-width:30%; border-radius:15px; align-content:center">
        
        <p>
            <h1>Tacacá: Uma Iguaria Amazônica</h1>
            <p><strong>Tucupi</strong>: Caldo amarelo extraído da mandioca, com sabor marcante e levemente ácido.</p>
            <p><strong>Jambu</strong>: Erva que causa uma leve dormência, adicionando uma experiência sensorial única.</p>
            <p><strong>Camarões secos</strong>: Contribuem um sabor umami profundo e salgado.</p>
            <p><strong>Goma de mandioca</strong>: Proporciona uma textura cremosa e aveludada ao caldo.</p>
            <p><strong>Azeite de dendê</strong>: Finaliza o prato com um toque terroso e vibrante.</p>
            <p>Cada colherada é uma celebração da rica biodiversidade e tradição paraense.</p>

        </p>
    </div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
        font-size: 16px; /* Tamanho padrão da fonte */
        color: #333; /* Cor do texto */
       
    }

    h1 {
        color: #6A1B9A; /* Cor do título */
        font-size: 24px; /* Tamanho do título */
        margin-bottom: 20px; /* Espaço abaixo do título */
    }

    p {
        margin-bottom: 15px; /* Espaço entre os parágrafos */
    }

    strong {
        color: #D32F2F; /* Cor para o texto em negrito */
    }
</style>